<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>407548257783-rckhl7ppf3u0erpaaetp61vl62bopvvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407548257783-rckhl7ppf3u0erpaaetp61vl62bopvvj</string>
	<key>API_KEY</key>
	<string>AIzaSyD-7Q9XByCY5OysEhr8TsM-gHAXbt2BneE</string>
	<key>GCM_SENDER_ID</key>
	<string>407548257783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunzala.pashtoproverbs</string>
	<key>PROJECT_ID</key>
	<string>pashto-proverbs</string>
	<key>STORAGE_BUCKET</key>
	<string>pashto-proverbs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407548257783:ios:461587add410b3db</string>
	<key>DATABASE_URL</key>
	<string>https://pashto-proverbs.firebaseio.com</string>
</dict>
</plist>